<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/styles/dashboard.css"> <!-- Include your CSS file -->
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
            </ul>
        </nav>
    </header>

</body>
</html>

