<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f0f0f0;
background-image: url('../images/naiirobi.jpg'); no-repeat center;
      background-repeat: no-repeat;
      background-size:cover;
	
        }

        .container {
            text-align: center;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        }
 
        .button {
            display: block;
            width: 100%;
            padding: 10px 0;
            margin: 10px 0;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-weight: bold;
        }
.button:hover {
      transform: scale(1.03);
      }

        .google {
            background-color: #d34836;
            color: #fff;
        }

        .email {
            background-color: #FF5722;
            color: #fff;
        }

        .facebook {
            background-color: #3a589e;
            color: #fff;
        }

        .twitter {
            background-color: #429cd6;
            color: #fff;
        }

        .login-link {
            margin-top: 20px;
            text-decoration: none;
            color: #333;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Sign Up</h2>
        <button class="button google" onclick="location.href='https://sokoni.innovatenbo.tech/auth/google'";>Sign Up with Google</button>
        <button class="button email" onclick="location.href='https://sokoni.innovatenbo.tech/signup'";>Sign Up with Email</button>
        <button class="button facebook" onclick="location.href='https://sokoni.innovatenbo.tech/auth/facebook'";>Sign Up with Facebook</button>
        <button class="button twitter" onclick="location.href='https://sokoni.innovatenbo.tech/auth/twitter'";>Sign Up with Twitter</button>
        <p><a class="login-link" href="https://sokoni.innovatenbo.tech/login">Already have an account? Login here</a></p>
    </div>
</body>
</html>


