<!doctype html>
<html lang="en">
  <head>
    <%- include('../partials/head');  %>
  </head>
 <body>
  <header>
    <%- include('../partials/header'); %>
  </header>
    <main>
    <div class="row m-5">
      
      <div class="jumbotron">
       <div class="scontainer">
       <div class="shop" id="shop"></div>
      </div>
      </div>
     </div>
  
  <script src="/js/main.js"></script>
  </body>
  </main>
  <footer class="footer p-5" >
    <%- include('../partials/footer'); %>
  </footer>
</html>
