body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    background-image: url('../images/naiirobi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

header {
    background-color: coral;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
.header h1{
    padding: 10px;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    background-color: coral;
    justify-content: center;
    color: white;
    display: flex;
}


.login-container {
    max-width: 300px;
    margin: 10px auto;
    background-color: coral;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.login-form .form-group {
    margin-bottom: 11px;
    }
.login-form label {
    display: block;
    font-weight: bold;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 94%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.login-button{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 27px;
    margin: 10px 0;
    border-radius: 20px;
    transition: background 0.5s;
}
.login-button:hover {
    background: #563434;
}
