body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #F7882F;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.login-container {
    max-width: 300px;
    margin: 20px auto;
    background-color: #ff8928;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.login-form .form-group {
    margin-bottom: 15px;
    }
.login-form label {
    display: block;
    font-weight: bold;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 85%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.login-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}
.login-button:hover {
    background-color: #555;
}
